:root {
    // PRIMARY
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    // NEUTRAL
    --white: hsl(0, 0%, 100%);
    --green-500: hsl(186, 15%, 59%);
    --green-900: hsl(187, 24%, 22%);
}